@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --brand-50: hsl(226, 100%, 97%);
    --brand-100: hsl(226, 100%, 94%);
    --brand-200: hsl(228, 96%, 89%);
    --brand-300: hsl(230, 94%, 82%);
    --brand-400: hsl(234, 89%, 74%);
    --brand-500: hsl(239, 84%, 67%);
    --brand-600: hsl(243, 75%, 59%);
    --brand-700: hsl(245, 58%, 51%);
    --brand-800: hsl(244, 55%, 41%);
    --brand-900: hsl(264, 67%, 35%);
    --brand-950: hsl(244, 47%, 20%);

    --background: hsl(0 0% 100%);
    --foreground: var(--brand-800);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: var(--brand-800);

    --card: hsl(0 0% 100%);
    --card-foreground: var(--brand-800);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);

    --primary: var(--brand-800);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: var(--brand-800);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: var(--brand-800);

    --destructive: hsl(0 100% 50%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --radius: hsl(0.5rem);
  }

  .dark {
    --background: hsl(224 71% 4%);
    --foreground: hsl(213 31% 91%);

    --muted: hsl(223 47% 11%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);

    --card: hsl(224 71% 4%);
    --card-foreground: hsl(213 31% 91%);

    --border: hsl(216 34% 17%);
    --input: hsl(216 34% 17%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 1.2%);

    --secondary: var(--brand-800);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: hsl(216 34% 17%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 63% 31%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(216 34% 17%);

    --radius: hsl(0.5rem);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: hsl("rlig" 1, "calt" 1);
  }
}